#contactForm {
    position: relative;
}

#contactSuccess, #contactError, #mailErrorMessage {
    position: absolute;
    z-index: 99;
    top: 48%;
}
/*#contactForm input:-webkit-autofill,
#contactForm textarea:-webkit-autofill,
#contactForm select:-webkit-autofill {*/
    /*background-color: rgb(64,63,61) !important;*/
/*}*/
@media (min-width: 768px) {
    html.no-overflowscrolling.sidebar-left-collapsed .nano:hover > .nano-pane > .nano-slider {
        visibility: hidden;
    }

    html.sidebar-left-collapsed .sidebar-left .nano:hover {
        width: initial;
    }

    html.sidebar-left-collapsed .sidebar-left .nano:hover .nav-main .nav-expanded > ul.nav-children {
        display: none;
    }

    html.sidebar-left-collapsed .sidebar-left .nav-main li.nav-parent > ul.nav-children {
        height: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    html.sidebar-left-collapsed .sidebar-left .nano:hover ul.nav-main li i {
        margin-right: 30px;
    }

    html.sidebar-left-collapsed .sidebar-left .nano:hover .nav-main li.nav-parent a:after {
        display: none;
    }

    html.sidebar-left-collapsed .sidebar-left .nano:hover .nav-main li a span {
        visibility: hidden;
    }

    html.sidebar-left-collapsed .sidebar-left .nano:hover .sidebar-widget, html.sidebar-left-collapsed .sidebar-left .nano:hover .separator {
        display: none;
    }
}

/*input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {*/
    /*background-color: rgb(250, 0, 0) !important;*/
    /*background-image: none;*/
    /*color: rgb(0, 0, 0);*/
/*}*/
#contactForm input:-webkit-autofill,
#contactForm input:-webkit-autofill:hover,
#contactForm input:-webkit-autofill:focus,
#contactForm input:-webkit-autofill:active,
#contactForm textarea:-webkit-autofill,
#contactForm textarea:-webkit-autofill:hover,
#contactForm textarea:-webkit-autofill:focus,
#contactForm textarea:-webkit-autofill:active,
#contactForm select:-webkit-autofill,
#contactForm select:-webkit-autofill:hover,
#contactForm select:-webkit-autofill:focus,
#contactForm select:-webkit-autofill:active {
    -webkit-text-fill-color: #777777;
    -webkit-box-shadow: 0 0 0 1000px rgb(64,63,61) inset;
    border-top: 1px solid #5a5a5a;
}